
/********* VARIABLES *********/

////////// Colors
$background-color: #FFFFFF;
$primary-color: #FCF8E3;
$secondary-color: #FAEBCC;

$error-color: #A94442;
$success-color: #3C763D;
$info-color: #31708F;

$title-color: #222222;
$text-color: #8A6D3B;
$text-muted-color: #666666;
$link-color: #66512C;

$navigation-background: $secondary-color;
$navigation-text: $text-color;
$navigation-text-highlight: $title-color;
$navigation-text-padding: 15px 10px;

////////// Sizes

$max-width-small: 700px;
$min-width-large: 701px;

$max-size: 800px;

$spacing-sides: 40px;
$spacing-vert: 20px;

/********* MIXINS **********/

@mixin clearfix() {
	&:before, &:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin links() {
	a {
		cursor: pointer;
		color: $link-color;
		text-decoration: underline;
		font-weight: 700;

		&:hover {
			text-decoration: none;
		}
	}
}

/********* SETUP *********/

//////////

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;

	background-color: $background-color;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	@media (min-width: $min-width-large) {
		margin: 0 auto;
		max-width: $max-size;

		padding: $spacing-vert $spacing-sides;
	}
	@media (max-width: $max-width-small) {
		padding-top: 52px;
	}
}

:focus {
	outline: none;
}

////////// Text

h1,h2 {
	color: $title-color;
	font-weight: 400;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 32px;
}

@media (max-width: $max-width-small) {
	h1,h2 {
		margin: 20px 20px 0 20px;
	}
}

/********* LAYOUT *********/

////////// Navigation

nav {
	max-width: $max-size;
	margin: 0 auto;
	padding: 0 10px;

	background-color: $navigation-background;

	@media (min-width: $min-width-large) {
		
	}
	@media (max-width: $max-width-small) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	
	a.toggle {
		display: none;
	}

	>ul {
		display: inline-block;

		padding: 0;margin: 0;

		>li {
			display: inline-block;

			>a {
				display: block;
				padding: $navigation-text-padding;

				font-size: 14px;
				text-decoration: none;
				color: $navigation-text;

				&[href]:hover {
					color: $navigation-text-highlight;
				}
			}
			&.current {
				>a {
					font-weight: 600;
					color: $navigation-text-highlight;
					cursor: default;
				}
			}
		}

		&.title {
			@media (max-width: $max-width-small) {
				display: block;
				width: 100%;
				text-align: center;
			}

			>li {
				>a {
					font-weight: 600;
					font-size: 18px;
					color: $navigation-text-highlight;
				}
			}
		}
	}

	//Collapsed
	@media (max-width: $max-width-small) {
		cursor: pointer;

		-webkit-transition: -webkit-box-shadow 0.4s;
		-moz-transition: -moz-box-shadow 0.4s;
		-ms-transition: box-shadow 0.4s;
		-o-transition: box-shadow 0.4s;
		transition: box-shadow 0.4s;
		
		>a.toggle {
			position: absolute;
			top: 0;right: 0;bottom: 0;
			
			display: block;
			padding: $navigation-text-padding;

			color: $title-color;

			pointer-events: none;
			
			>i {
				-webkit-transition: -webkit-transform 0.4s;
				-moz-transition: transform 0.4s;
				-ms-transition: -ms-transform 0.4s;
				-o-transition: transform 0.4s;
				transition: transform 0.4s;
			}
		}
		>ul.items {
			-webkit-transition: max-height 0.4s;
			-moz-transition: max-height 0.4s;
			-ms-transition: max-height 0.4s;
			-o-transition: max-height 0.4s;
			transition: max-height 0.4s;
			
			display: block;
			max-height: 0px;
			overflow: hidden;
			
			>li {
				display: block;
			}
		}
		
		&:focus {
			cursor: inherit;

			-webkit-box-shadow: 0px -2px 5px 5px;
			-moz-box-shadow: 0px -2px 5px 5px;
			box-shadow: 0px -2px 5px 5px;
			
			>ul {
				&.items {
					max-height: 300px;
					overflow-y: auto;
				}
			}
			
			>a.toggle {
				cursor: pointer;
				pointer-events: inherit;
				
				>i {
					-ms-transform: rotate(180deg); /* IE 9 */
					-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					transform: rotate(180deg);
				}
			}
		}
	}
}

////////// Footer

.social {
	max-width: $max-size;
	margin: 20px auto 0 auto;
	
	background-color: $navigation-background;
	
	>a.social-item {
		display: inline-block;
		padding: $navigation-text-padding;
		
		text-align: center;
		
		font-size: 14px;
		color: $navigation-text;
		text-decoration: none;
		
		>i {
			font-size: 24px;
			display: block;
		}
		
		&:hover {
			color: $navigation-text-highlight;
		}

		@media (max-width: $max-width-small) {
			width: 50% !important;
		}
	}

	@media (min-width: $min-width-large) {
		padding: 0 10px;
	}
}

.footer-message {
	text-align: center;
	font-size: 10px;
	font-style: italic;
	color: $text-muted-color;

	@include links();
}

////////// Content Box

.content-box {
	margin: 20px 0;
	padding: 20px;
	
	background-color: $primary-color;
	border: solid 2px $secondary-color;

	color: $text-color;
	font-size: 14px;
	line-height: 1.4;

	@include links();

	&.content-box-error, &.content-box-success, &.content-box-info {
		border-top-width: 10px;
	}
	&.content-box-error {
		color: $error-color;
		border-color: $error-color;
	}
	&.content-box-success {
		color: $success-color;
		border-color: $success-color;
	}
	&.content-box-info {
		color: $info-color;
		border-color: $info-color;
	}

	@media (max-width: $max-width-small) {
		border-right: none;
		border-left: none;
	}

	>.section {
		margin: 20px 0;

		@media (min-width: 501px) {
			@include clearfix();

			>img {
				float: left;
				max-width: 200px;

				margin-right: 20px;
			}
			>h3 {
				margin-top: 0;
			}
			>div {

			}
		}
		@media (max-width: 500px) {

			>img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
				max-height: 400px;
			}
		}
	}

	>* {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

////////// Projects

.projects {
	@media (max-width: $max-width-small) {
		padding: 0 20px;
	}
	
	>a.project {
		display: inline-block;
		
		padding: 0 10px;
		margin: 20px 0;
		width: 50%;
		
		text-align: center;
		text-decoration: none;
		color: $text-color;
		font-weight: 600;

		@media (max-width: 500px) {
			padding: 0;
		}

		>img {
			border-radius: 10px;
			max-width: 100%;
		}

		&:hover {
			>img {
				-webkit-box-shadow: 0 0 10px #000000;
				-moz-box-shadow: 0 0 10px #000000;
				box-shadow: 0 0 10px #000000;
			}
		}
		
		@media (max-width: 500px) {
			width: 100%;
			
			>img {
				display: block;
				margin: 0 auto;
				max-width: 280px;
			}
		}
	}
}

.screenshots {
	>img {
		@media (max-width: $max-width-small) {
			display: block;
			margin: 0 auto;
			padding: 10px 0;
			width: inherit !important;
		}
		
		@media (min-width: $min-width-large) {
			padding: 0 10px;
		}
	}
}

////////// Repositories

.repositories {
	@include links();
	color: $text-color;

	>.repository {
		display: block;

		padding: 10px;

		margin-top: -2px;
		border: solid 2px $secondary-color;
		background-color: $primary-color;

		@media (max-width: $max-width-small) {
			border-left: none;
			border-right: none;
		}

		&:not(:focus) {
			cursor: pointer;
			
			&:hover {
				background-color: $background-color;
			}
		}

		>.head {
			>.name {
				font-size: 18px;
				font-weight: 600;

				word-wrap: break-word;
			}
			>.description {
				font-size: 14px;
				font-weight: 400;
				font-style: italic;
			}
		}

		>.details {
			max-height: 0;
			overflow: hidden;

			-webkit-transition: max-height 0.4s;
			-moz-transition: max-height 0.4s;
			-ms-transition: max-height 0.4s;
			-o-transition: max-height 0.4s;
			transition: max-height 0.4s;

			>ul.stats {
				padding: 0;
				list-style-type: none;

				>li {
					margin: 5px 0;

					>i {
						width: 30px;
						line-height: 30px;
						border-radius: 5px;

						font-size: 20px;
						text-align: center;

						color: $secondary-color;
						background-color: $text-color;
					}

					>.stat {
						font-weight: 600;
						font-style: italic;
					}
				}
			}
		}
		&:focus {
			>.details {
				max-height: 200px;
			}
		}
	}
}