/********* VARIABLES *********/
/********* SETUP *********/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #a64b00;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media (min-width: 501px) {
    body {
      margin: 0 auto;
      max-width: 800px;
      padding: 20px 40px; } }
  @media (max-width: 500px) {
    body {
      padding-top: 52px; } }

/********* LAYOUT *********/
nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #222222; }
  @media (max-width: 500px) {
    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0; } }
  nav a.toggle {
    display: none; }
  nav > ul {
    display: inline-block;
    padding: 0;
    margin: 0; }
    nav > ul > li {
      display: inline-block; }
      nav > ul > li > a {
        display: block;
        padding: 15px 10px;
        font-size: 14px;
        text-decoration: none;
        color: #999999; }
        nav > ul > li > a[href]:hover {
          color: white; }
      nav > ul > li.current > a {
        color: white;
        cursor: default; }
    @media (max-width: 500px) {
      nav > ul.title {
        display: block;
        width: 100%;
        text-align: center; } }
    nav > ul.title > li > a {
      font-size: 18px; }
    @media (max-width: 500px) {
      nav > ul.items {
        display: none; } }
  nav:focus {
    outline: none; }
  @media (max-width: 500px) {
    nav {
      cursor: pointer; }
      nav > a.toggle {
        display: block;
        float: right;
        padding: 15px 10px;
        color: white;
        pointer-events: none; }
        nav > a.toggle:focus {
          outline: none; }
      nav > ul.items > li {
        display: block; }
      nav:focus {
        cursor: inherit; }
        nav:focus > ul.items {
          display: block; }
        nav:focus > a.toggle {
          cursor: pointer;
          pointer-events: inherit; } }

.social {
  max-width: 800px;
  margin: 20px auto;
  background-color: #222222; }
  .social > a.social-item {
    display: inline-block;
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    color: #ffb273;
    text-decoration: none; }
    .social > a.social-item > i {
      font-size: 20px;
      display: inline; }
      @media (max-width: 800px) {
        .social > a.social-item > i {
          display: block; } }
    .social > a.social-item:hover {
      color: #a64b00; }
    @media (max-width: 800px) {
      .social > a.social-item {
        width: 50% !important; } }
  @media (min-width: 501px) {
    .social {
      padding: 0 10px; } }

.content-box {
  margin: 20px 0;
  padding: 20px;
  background-color: #ffb273;
  border-bottom: solid 10px #222222;
  color: #222222;
  font-size: 14px;
  line-height: 1.4; }
  .content-box a {
    color: #1d7373; }
    .content-box a:hover {
      color: #a64b00;
      text-decoration: none; }
