/********* VARIABLES *********/
/********* SETUP *********/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #a64b00;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media (min-width: 701px) {
    body {
      margin: 0 auto;
      max-width: 800px;
      padding: 20px 40px; } }
  @media (max-width: 700px) {
    body {
      padding-top: 52px; } }

:focus {
  outline: none; }

/********* LAYOUT *********/
nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #222222; }
  @media (max-width: 700px) {
    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0; } }
  nav a.toggle {
    display: none; }
  nav > ul {
    display: inline-block;
    padding: 0;
    margin: 0; }
    nav > ul > li {
      display: inline-block; }
      nav > ul > li > a {
        display: block;
        padding: 15px 10px;
        font-size: 14px;
        text-decoration: none;
        color: #999999; }
        nav > ul > li > a[href]:hover {
          color: white; }
      nav > ul > li.current > a {
        color: white;
        cursor: default; }
    @media (max-width: 700px) {
      nav > ul.title {
        display: block;
        width: 100%;
        text-align: center; } }
    nav > ul.title > li > a {
      font-size: 18px; }
  @media (max-width: 700px) {
    nav {
      cursor: pointer;
      -webkit-transition: -webkit-box-shadow 0.4s;
      -moz-transition: -moz-box-shadow 0.4s;
      -ms-transition: box-shadow 0.4s;
      -o-transition: box-shadow 0.4s;
      transition: box-shadow 0.4s; }
      nav > a.toggle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        padding: 15px 10px;
        color: white;
        pointer-events: none; }
        nav > a.toggle > i {
          -webkit-transition: -webkit-transform 0.4s;
          -moz-transition: transform 0.4s;
          -ms-transition: -ms-transform 0.4s;
          -o-transition: transform 0.4s;
          transition: transform 0.4s; }
      nav > ul.items {
        -webkit-transition: max-height 0.4s;
        -moz-transition: max-height 0.4s;
        -ms-transition: max-height 0.4s;
        -o-transition: max-height 0.4s;
        transition: max-height 0.4s;
        display: block;
        max-height: 0px;
        overflow: hidden; }
        nav > ul.items > li {
          display: block; }
      nav:focus {
        cursor: inherit;
        -webkit-box-shadow: 0px -2px 5px 5px;
        -moz-box-shadow: 0px -2px 5px 5px;
        box-shadow: 0px -2px 5px 5px; }
        nav:focus > ul.items {
          max-height: 300px;
          overflow-y: auto; }
        nav:focus > a.toggle {
          cursor: pointer;
          pointer-events: inherit; }
          nav:focus > a.toggle > i {
            -ms-transform: rotate(180deg);
            /* IE 9 */
            -webkit-transform: rotate(180deg);
            /* Chrome, Safari, Opera */
            transform: rotate(180deg); } }

.social {
  max-width: 800px;
  margin: 20px auto;
  background-color: #222222; }
  .social > a.social-item {
    display: inline-block;
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    color: #ffb273;
    text-decoration: none; }
    .social > a.social-item > i {
      font-size: 20px;
      display: inline; }
      @media (max-width: 800px) {
        .social > a.social-item > i {
          display: block; } }
    .social > a.social-item:hover {
      color: #a64b00; }
    @media (max-width: 800px) {
      .social > a.social-item {
        width: 50% !important; } }
  @media (min-width: 701px) {
    .social {
      padding: 0 10px; } }

.content-box {
  margin: 40px 0;
  padding: 20px;
  background-color: #ffb273;
  border-bottom: solid 10px #222222;
  color: #222222;
  font-size: 14px;
  line-height: 1.4; }
  .content-box a {
    color: #1d7373; }
    .content-box a:hover {
      color: #a64b00;
      text-decoration: none; }
