/********* VARIABLES *********/
/********* MIXINS **********/
/********* SETUP *********/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  @media (min-width: 701px) {
    body {
      margin: 0 auto;
      max-width: 800px;
      padding: 20px 40px; } }
  @media (max-width: 700px) {
    body {
      padding-top: 52px; } }

:focus {
  outline: none; }

/********* TEXT *********/
p, h1, h2, h3 {
  color: #222222; }

h1, h2, h3 {
  color: #222222;
  font-weight: 600; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-weight: 400;
  font-size: 26px; }

a {
  cursor: pointer;
  color: #1a0dab;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

/********* LAYOUT *********/
nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #222222; }
  @media (max-width: 700px) {
    nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0; } }
  nav a.toggle {
    display: none; }
  nav > ul {
    display: inline-block;
    padding: 0;
    margin: 0; }
    nav > ul > li {
      display: inline-block; }
      nav > ul > li > a {
        display: block;
        padding: 15px 10px;
        font-size: 14px;
        text-decoration: none;
        color: #CCCCCC; }
        nav > ul > li > a[href]:hover {
          color: #FFFFFF; }
      nav > ul > li.current > a {
        font-weight: 600;
        color: #FFFFFF;
        cursor: default; }
    @media (max-width: 700px) {
      nav > ul.title {
        display: block;
        width: 100%;
        text-align: center; } }
    nav > ul.title > li > a {
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF; }
  @media (max-width: 700px) {
    nav {
      cursor: pointer;
      -webkit-transition: -webkit-box-shadow 0.4s;
      -moz-transition: -moz-box-shadow 0.4s;
      -ms-transition: box-shadow 0.4s;
      -o-transition: box-shadow 0.4s;
      transition: box-shadow 0.4s; }
      nav > a.toggle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        padding: 15px 10px;
        color: #FFFFFF;
        pointer-events: none; }
        nav > a.toggle > i {
          -webkit-transition: -webkit-transform 0.4s;
          -moz-transition: transform 0.4s;
          -ms-transition: -ms-transform 0.4s;
          -o-transition: transform 0.4s;
          transition: transform 0.4s; }
      nav > ul.items {
        -webkit-transition: max-height 0.4s;
        -moz-transition: max-height 0.4s;
        -ms-transition: max-height 0.4s;
        -o-transition: max-height 0.4s;
        transition: max-height 0.4s;
        display: block;
        max-height: 0px;
        overflow: hidden; }
        nav > ul.items > li {
          display: block; }
      nav:focus {
        cursor: inherit;
        -webkit-box-shadow: 0px -2px 5px 5px;
        -moz-box-shadow: 0px -2px 5px 5px;
        box-shadow: 0px -2px 5px 5px; }
        nav:focus > ul.items {
          max-height: 300px;
          overflow-y: auto; }
        nav:focus > a.toggle {
          cursor: pointer;
          pointer-events: inherit; }
          nav:focus > a.toggle > i {
            -ms-transform: rotate(180deg);
            /* IE 9 */
            -webkit-transform: rotate(180deg);
            /* Chrome, Safari, Opera */
            transform: rotate(180deg); } }

[ng-view] {
  padding: 0 20px; }

.footer-message {
  text-align: center;
  font-size: 10px;
  font-style: italic;
  color: #666666; }

.content-box {
  margin: 20px 0;
  padding: 20px;
  background-color: #000000;
  border: solid 2px #222222;
  color: #222222;
  font-size: 14px;
  line-height: 1.4; }
  .content-box.content-box-error, .content-box.content-box-success, .content-box.content-box-info {
    border-top-width: 10px; }
  .content-box.content-box-error {
    color: #A94442;
    border-color: #A94442;
    background-color: #ffdddb; }
  .content-box.content-box-success {
    color: #3C763D;
    border-color: #3C763D;
    background-color: #d5ffd6; }
  .content-box.content-box-info {
    color: #31708F;
    border-color: #31708F;
    background-color: #caffff; }
  .content-box > *:first-child {
    margin-top: 0; }
  .content-box > *:last-child {
    margin-bottom: 0; }

.content-section {
  margin: 20px 0; }
  @media (min-width: 501px) {
    .content-section:before, .content-section:after {
      content: ' ';
      display: table; }
    .content-section:after {
      clear: both; }
    .content-section > img {
      max-width: 200px; }
    .content-section > h3 {
      margin-top: 0; }
    .content-section:nth-child(odd) {
      text-align: left; }
      .content-section:nth-child(odd) > img {
        float: left;
        margin-right: 20px; }
    .content-section:nth-child(even) {
      text-align: right; }
      .content-section:nth-child(even) > img {
        float: right;
        margin-left: 20px; } }
  @media (max-width: 500px) {
    .content-section > img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 400px; } }

.projects > a.project {
  display: inline-block;
  padding: 0 10px;
  margin: 20px 0;
  width: 50%;
  text-align: center;
  text-decoration: none;
  color: #222222;
  font-weight: 600; }
  @media (max-width: 500px) {
    .projects > a.project {
      padding: 0; } }
  .projects > a.project > img {
    border-radius: 10px;
    max-width: 100%; }
  .projects > a.project:hover > img {
    -webkit-box-shadow: 0 0 10px #000000;
    -moz-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000; }
  @media (max-width: 500px) {
    .projects > a.project {
      width: 100%; }
      .projects > a.project > img {
        display: block;
        margin: 0 auto;
        max-width: 280px; } }

@media (max-width: 700px) {
  .screenshots > img {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: inherit !important; } }
@media (min-width: 701px) {
  .screenshots > img {
    padding: 0 10px; } }

.repositories {
  color: #222222; }
  .repositories > .repository {
    display: block;
    padding: 10px;
    margin-top: -2px;
    border: solid 2px #000000;
    background-color: #EEEEEE; }
    .repositories > .repository:not(:focus) {
      cursor: pointer; }
      .repositories > .repository:not(:focus):hover {
        background-color: #FFFFFF; }
    .repositories > .repository > .head > .name {
      font-size: 18px;
      font-weight: 600;
      word-wrap: break-word; }
    .repositories > .repository > .head > .description {
      font-size: 14px;
      font-weight: 400;
      font-style: italic; }
    .repositories > .repository > .details {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.4s;
      -moz-transition: max-height 0.4s;
      -ms-transition: max-height 0.4s;
      -o-transition: max-height 0.4s;
      transition: max-height 0.4s; }
      .repositories > .repository > .details > ul.stats {
        padding: 0;
        list-style-type: none; }
        .repositories > .repository > .details > ul.stats > li {
          margin: 5px 0; }
          .repositories > .repository > .details > ul.stats > li > i {
            width: 30px;
            line-height: 30px;
            border-radius: 5px;
            font-size: 20px;
            text-align: center;
            color: #FFFFFF;
            background-color: #222222; }
          .repositories > .repository > .details > ul.stats > li > .stat {
            font-weight: 600;
            font-style: italic; }
    .repositories > .repository:focus {
      background-color: #FFFFFF; }
      .repositories > .repository:focus > .details {
        max-height: 200px; }

ul.social {
  list-style-type: none;
  padding: 0; }
  ul.social > li {
    line-height: 24px; }
    ul.social > li > i {
      font-size: 24px; }
    ul.social > li > a {
      vertical-align: text-bottom;
      color: #222222;
      font-size: 14px; }

/*# sourceMappingURL=main.css.map */
