<h1>Developer Color Helper</h1>
<content-box>
	<p>Developer Color Helper is a free tool for developers who work with colors (so, all of them). It allows you to easily preview colors on iOS controls, convert them to other formats and get other information.</p>
</content-box>

<p style="text-align: center;"><a href=""><img src="assets/images/apple/appstore-download.svg" width="270"/></a></p>

<h2>Features</h2>
<content-box>
	<ul>
		<li>Enter colors in RGB or Hex</li>
		<li>Preview the tint colors of iOS controls in your color</li>
		<li>View color values in RGB, Hex, and HSB</li>
		<li>View approximate (closest match) color names</li>
	</ul>
</content-box>
		
<h2>Screenshots</h2>
<content-box>
	<div class="screenshots">
		<img ng-repeat="screenshot in screenshots" ng-src="assets/images/projects/color-helper/screenshots/{{screenshot}}.jpg" ng-style="{width: (100/screenshots.length)+'%'}"/>
	</div>
</content-box>