<h1>Developer Color Helper</h1>
<content-box>Developer Color Helper is a free tool for developers who work with colors (so, all of them). It allows you to easily preview colors on iOS controls, convert them to other formats and get other information.</content-box>

app store logo

<h2>Features</h2>
<content-box>
	<ul>
		<li>Enter colors in RGB or Hex</li>
		<li>Preview the tint colors of iOS controls in your color</li>
		<li>View color values in RGB, Hex, and HSB</li>
		<li>View approximate (closest match) color names</li>
	</ul>
</content-box>
		
<h2>Screenshots</h2>
<content-box></content-box>

<h2>Coming Soon</h2>
<content-box>A new update is on it’s way, with new features including saving and sharing colors, but most importantly iOS 7 support will be included in the next update.</content-box>