<h1>Map Mate</h1>

<content-box>
	<p>Looking for something at UOW? Look no more. UOW Map Mate has everything you need to find and will point you in the right direction. Find buildings, carparks, toilets and more. You can even see how many parking spaces are left!</p>
	<p>Available for iPhone, iPad and iPod Touch. Requires iOS 6 or later.</p>
</content-box>

<p style="text-align: center;">
	<a href="https://itunes.apple.com/au/app/uow-map-mate/id608051465?mt=8">
		<img src="assets/images/apple/appstore-download.svg" width="270"/>
	</a>
</p>

<h2>Features</h2>
<content-box>
	<content-section title="Find Buildings" img-src="assets/images/projects/map-mate/screenshots/building-map.png">
		<p>With so many buildings (and so many numbers) we make it easy to find your next class. Just enter a building name or number in to the search bar, and tap on your building. The building will be presented on the map for you viewing pleasure.</p>
	</content-section>

	<content-section title="Find Parking" img-src="assets/images/projects/map-mate/screenshots/car-parking-map.png">
		<p>Easily lookup where you're going to park when you arrive at UOW. Not only can you locate carparks, but you can also see how many spaces are remaining!</p>
		<p>You can also easily look up parking locations for motorcycles, bicycles and disabled parking.</p>
	</content-section>

	<content-section title="Find Services" img-src="assets/images/projects/map-mate/screenshots/service-map.png">
		<p>Find the service you need quickly. A wide selection of services are available including ATMs, food and toilets.</p>
		<p>We'll tell where the closest services are, and how far a way you are from them.</p>
	</content-section>
</content-box>

<h2>Coming Soon</h2>
<content-box>
	<p>A new version of UOW Map Mate is currently underway, and will be available later in the year. This version will require iOS 8, and will be free.</p>
</content-box>